@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  min-height: 100vh;
}
